* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/images/bg-main-desktop.png);
  background-position: left;
  background-repeat: no-repeat;
  min-height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
label,
.card-data-label {
  margin: 0.8% 0;
  font-size: 0.8rem;
}

input {
  width: 15rem;
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

input[type="text"] {
  font-size: 15px;
}
input::placeholder {
  font-size: small;
}
#exp-date {
  width: 3rem;
}
#cvc {
  width: 8.5rem;
}
button {
  width: 15rem;
  padding: 0.6%;
  color: white;
  background-color: rgb(33, 9, 47);
  outline: none;
  border-style: none;
  border-radius: 8px;
  margin-top: 1.5%;
}
