* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/images/bg-main-desktop.png);
  background-position: left;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 40%;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(8% - 5px);
  padding-top: 10%;
}
form {
  display: flex;
  flex-direction: column;
  scale: 1.2;
}
label,
.card-data-label {
  margin: 2% 0;
  font-size: 0.7rem;
}

input {
  width: 15rem;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  margin-bottom: 3%;
}

input[type="text"] {
  font-size: 12px;
}
input::placeholder {
  font-size: small;
}
#exp-date {
  width: 3rem;
}
#cvc {
  width: 8.5rem;
}
button {
  width: 15rem;
  padding: 3%;
  color: white;
  background-color: rgb(33, 9, 47);
  outline: none;
  border-style: none;
  border-radius: 5px;
  margin-top: 3%;
  cursor: pointer;
}

img {
  width: 300px;
  display: block;
  margin-top: 10%;
}
#img2 {
  margin-left: 10%;
}
/* Card details */
.card-front {
  position: relative;
}
.card-details {
  position: absolute;
  width: 100%;
  padding: 10%;
  bottom: -5%;
  color: white;
}
.flex-detail {
  display: flex;
  flex-direction: row;
}
.name {
  padding-right: 45%;
  font-size: small;
}
.number {
  padding-bottom: 5%;
  font-size: large;
  letter-spacing: 3.2px;
}
.date {
  font-size: small;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
